
body>div {  
     width: 1200px;
    margin-left: calc((100% - 1200px) / 2 );
  
         
}
    header {
       display: inline-block;
       width: 100%;
       background-color: yellow;
       line-height: 50px;
    
    }
       header > img {
           display: inline-block;
           width: 50px;
           float: left;

        }
       nav {
           display: inline-block;
           float: right;

        }
       a {
           /* background-color: aqua;
           float: left;
           margin-left: 0;
           line-height: 20px;
           margin-top: 10px;
           margin-left: 15px;
           padding: 5px;
           padding-left: 15px;
           padding-right: 15px;
           text-decoration: none; */
        }
      
    main {
    display: inline-block;
    width: 100%
    }  
       main > div {
           display: inline-block;
           float: left;
           width: 45%;
        
       }
           h1 {

           }
           p {

           }

       main > img {
           display: inline-block;
           float: right;
           width: 45%;

       }