
body>div {  
     width: 1200px;
     margin-left: calc((100% - 1200px) / 2 );
     color: #9E9E9E9E;
     font-family:  Helvetica;
         
    }
    header {
       display: inline-block;
       width: 100%;    
       line-height: 50px;
    
    }
       header > img {
           display: inline-block;
           width: 50px;
           float: left;

        }
       nav {
           display: inline-block;
           float: right;

        }
       a {
           float: left;
           margin-left: 0;
           line-height: 20px;
           margin-top: 10px;
           margin-left: 15px;
           padding: 5px;
           padding-left: 15px;
           padding-right: 15px;
           text-decoration: none;
           color: #9E9E9E9E;
        }
        a:nth-of-type(5) {
            border: 5px solid #9E9E9E9E;
            margin-top: 5px;
            border-radius: 20px;
        }
         
      
     main {
     display: inline-block;
     width: 100%;
     margin-top: 80px;
    
    }  
       main > div {
           display: inline-block;
           float: left;
           width: 45%;
           margin-top: 30px;
        
        }
           h1 {
            font-size: 100px;
            margin: 0;

           }
           p {
             display: inline-block;
             margin: 0%;
             font-size: 30px;   
            }
       main > img {
           display: inline-block;
           float: right;
           width: 45%;
        }